// This sets the font size to be the same for both the Angular Material
// list item title and list item line.
.mat-mdc-list-item {
  &-title,
  &-line {
    font-size: 1rem;
  }
}

// Capitalize the family role when displaying it in the family card.
.family-card-role {
  text-transform: capitalize;
}

.family-card-email {
  display: block; /* Make it a block-level element */
  color: inherit; /* Inherit the text color from the parent element */
  text-decoration: none; /* Remove default underline */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.family-card {
  position: relative; // For the absolute edit button if used

  // 1. Make all form fields fill the width of the list item
  mat-form-field {
    width: 100%;
    margin-top: 4px;

    // This removes the bottom gap reserved for hints/errors
    // to keep the card from becoming too tall.
    ::v-deep .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.student-list {
  margin-left: 32px; /* aligns with Material icon spacing */
  padding-bottom: 8px;
}

.student-item {
  padding: 0;
  min-height: 32px; /* tighter list for multiple students */
}

.student-icon {
  font-size: 20px;
  opacity: 0.75;
}

.checkbox-group {
  display: grid;
  grid-template-columns: 1fr 1fr; // Two columns
  gap: 8px;
  padding: 12px 0;

  mat-checkbox {
    // Keeps text from wrapping awkwardly
    white-space: nowrap;
  }
}

.height-auto {
  height: auto !important;
  padding-bottom: 8px;
}


mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .mat-mdc-card-header-text {
    flex-grow: 1;
  }
}

