<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-grid">
      <mat-card-header>
        <mat-card-title class="purchaselist-title">Purchase List</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="page-description">
          Welcome to the purchase list! Here, you can view the type of items specified in student checklists, as well
          as the corresponding quantities for each item as far as what is needed, what is in inventory, and what will
          need
          to be purchased. A priority tab will also be provided for each item to organize item importance.
          Please note that this list is an estimate and doesn't account for specified item attributes when generating
          the purchase list, so some items may be over or under estimated. For example, if 10 students need a "red
          shirt"
          and 5 students need a "blue shirt", the purchase list will show that 15 shirts are needed, without accounting
          for the different colors. Please use the purchase list as a general guide, but be sure to check the student
          checklists for more specific details on the items needed until future updates are added.
        </p>
        <hr style="margin: 1rem 0;" />

        <p class="filters-description">
          Use the fields below to filter by item and priority.
        </p>

        <div class="filter-container">

          <!-- Item Filter -->
          <mat-form-field appearance="outline">
            <mat-label class="filter">Item</mat-label>
            <input matInput [ngModel]="itemFilter()" (ngModelChange)="itemFilter.set($event?.trim() || '')" placeholder="contains..." data-cy="filter-item" />
          </mat-form-field>

          <!-- Priority Filter -->
          <mat-form-field appearance="outline">
            <mat-label class="filter">Priority</mat-label>
            <mat-select [ngModel]="priority() ?? ''" (ngModelChange)="priorityFilter.set($event || undefined)"
              data-cy="filter-priority">
              <mat-option value="">Any</mat-option>
              <mat-option value="low">Low</mat-option>
              <mat-option value="medium">Medium</mat-option>
              <mat-option value="high">High</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary" (click)="generatePurchaselist()"
          data-cy="generate-purchaselist-button">
          <mat-icon>refresh</mat-icon> Generate Purchase List
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>




<table mat-table [dataSource]="filteredPurchaselist()" matSort class="mat-elevation-z8 demo-table">
  <!-- Item Column -->
  <ng-container matColumnDef="item">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by item">Item</th>
    <td mat-cell *matCellDef="let element" class="item" data-cy="item">
      {{ element.item }}
    </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">Description
    </th>
    <td mat-cell *matCellDef="let element" class="decsription" data-cy="description">
      {{ element.description }}
    </td>
  </ng-container>

  <!-- Need Quantity Column -->
  <ng-container matColumnDef="needQuantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by need quantity">Need Quantity
    </th>
    <td mat-cell *matCellDef="let element" class="need-quantity" data-cy="need-quantity">
      {{ element.needQuantity }}
    </td>
  </ng-container>

  <!-- Inventory Quantity Column -->
  <ng-container matColumnDef="inventoryQuantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by inventory quantity">Inventory
      Quantity</th>
    <td mat-cell *matCellDef="let element" class="inventory-quantity" data-cy="inventory-quantity">
      {{ element.inventoryQuantity }}
    </td>
  </ng-container>

  <!-- Purchase Quantity Column -->
  <ng-container matColumnDef="purchaseQuantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by purchase quantity">Purchase
      Quantity</th>
    <td mat-cell *matCellDef="let element" class="purchase-quantity" data-cy="purchase-quantity">
      {{ element.purchaseQuantity }}
    </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef> Priority </th>
    <td mat-cell *matCellDef="let element">
      <mat-select [(ngModel)]="element.priority">
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
